.kanban-item {
    width: 90%;
    height: auto;
    //max-height: 200px;

    background-color: #fff;
    border: 2px #000 solid;
    border-radius: 8px;

    cursor: pointer;
    transition: 0.6s all ease;

}

.dragging {
    opacity: 0.5;
    border: 2px crimson solid;
}